# Dependency directories
node_modules/

# OS
.DS_Store

# Audio
*.mp3
*.wav
*.ogg

# Images
*.png

# Data files maybe?
# *.json
package-lock.json

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
