# Dependency directories
node_modules/

# OS
.DS_Store

# Audio
*.wav
*.mp3
*.aup
*.au
*.ogg

# Symbolic music
*.mid
*.midi
*.musicxml
*.krn

# Images
*.png
*.jpg
*.jpeg
*.gif

# General documents
*.pdf
*.pptx
*.csv

# Data files maybe?
# *.json
package-lock.json

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
